body{
	background-color:lightblue;
	text-align: center;
}

#messageBoard{
	position:relative;
	background:rgba(0,0,0,0.5);
	height:500px;
	width:500px;
	margin:auto;
}

.lightbox{
	
	/** Position and style */
	font-size: 2em;
	position: fixed;
	z-index: 999;
	width: 50%;
	height: 50%;
	margin:auto;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}

.lightbox:target{
	display: none;
}

#usernameInputDiv{
	margin:auto;
	position:absolute;
	top:0; bottom:0; left:0; right:0;
}

#usernameInputField{
	height:30px;
	width:200px;
	font-size: 1em;
}

#messageInputDiv{
	position:absolute;
	bottom:0; left:0;
}

#messageField{
	font-size: 1.3em;
	height:70px;
	width:350px;
}

#wrapperDiv{
	margin-top: 50px;	
}

#submit{
	margin:15px;
	padding:10px;
	width:100px;
}